<header class="masthead">
    <nav class="language-nav">
        <ul>
            <a href="#">CSS</a>
            <a href="#">HTML</a>
            <a href="#">Javascript</a>
            <a href="#">Ruby</a>
        </ul>
    </nav>

    <img src="assets/AA_Times_Logo.png" class="logo">

    <ul class="masthead-links">
        <li>Tuesday, October 18, 2016 </li>
        <li><a href="#"><i class="fa-solid fa-newspaper"></i>Today’s Paper</a></li>
        <li><a href="#"><i class="fa-solid fa-video"></i>Video</a></li>
        <li><button>77°F</button></li>
        <button>AAO <strong>+100%</strong></button>
    </ul>
</header>







